h1, a, p {
	font-family: 'Metrophobic', Arial, serif; 
	font-weight: 500; 
	clear: left, right;
	text-align: justify;
}

h1 {
	text-align: center;
}
img {width: 100% ;
	height: auto;

}
div.pics > img {
	border: black, 5px;
	border-style: solid;
	padding: 2px;
	width: 30%;
	height:40%;
}
div.pics{
	display: inline-block;
	width: 60%;
	padding: 15px;
	max-height:100%;
	overflow-y: scroll;
}
div.cont {
	display: inline-block;
	width: 30%;
	text-align:center;
	vertical-align: top;
}
