body {
	background-image: url("../images/grass.jpg");
	background-repeat: repeat-x;
	font-family: 'Playfair Display', serif;
	background-position:bottom;
	background-attachment: fixed;
	background-size: 35%;
}
table{
	margin:auto;
	width: 50%;
	border: 2px black solid;
	margin-bottom: 5px;
}
img#pics {
	width:auto;
	max-height: 600px;
}
div#btn > h4 {
	background-color: gray;
	color: white;
	width: 20%;
	border: 1px black solid;
	margin:auto;
}
h3.attribute {
	text-align:right;
}
div#map-canvas {
	min-height: 450px;
	width: 600px;
	border: 1px black solid;
	float:left;
	margin:5px;

}
div#par {
	width: 1050px;
	margin:auto;
}
div#map-desc {
	min-height:450px;
	max-width: 350px;
	margin:5px;
	float:left;
}
div#welcome {
	background-color: white;
	border: 1px solid black;
	text-align: justify;
	margin: 0px auto;
	padding: 15px;
	width:45%;
	height:45%;
	overflow:auto;
}
div#welcome:hover {
	opacity: .6;

}
div#welcome > img {
	width: 100%;
	height:auto;
}

h1#logo {
	font-size: 36px;
}
div#banner {
	text-align:center;
	padding: 5px;
	margin:auto;
	background-color: white;
	width:95%;
	min-height:15%;
	opacity: .65;
	border: 1px solid green;
}
div#content {
	margin:auto;
	margin-top: 2px;
	width:95.5%;
	border: green solid 2px;
	background-color:white;
	min-height: 775px;
	opacity: .75;
	text-align: center;
}
div#navi {
	padding: 1px 1px 1px 1px;
	margin: auto;
	min-width: 100%;
	color: white;
	background-color: black;
	box-shadow: 0px 0px 0px 1px black inset;
	position: relative;
	bottom: 0px;
}
div > a {
	font-size: 15px;
	color: white;
	text-decoration: bold;
}
